<.header>
  User
  <:subtitle><%= @user.name %></:subtitle>
  <:actions>
    <.link patch={~p"/admin/users/#{@user}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit user</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Email"><%= @user.email %></:item>
  <:item title="Name"><%= @user.name %></:item>
  <:item title="Administrator"><%= @user.admin %></:item>
</.list>

<.back navigate={~p"/admin/users"}>Back to users</.back>

<.modal
  :if={@live_action == :edit}
  id="user-modal"
  show
  on_cancel={JS.patch(~p"/admin/users/#{@user}")}
>
  <.live_component
    module={EcoplatformWeb.UserLive.FormComponent}
    id={@user.id}
    title={@page_title}
    action={@live_action}
    user={@user}
    patch={~p"/admin/users/#{@user}"}
  />
</.modal>
