@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.flop-table td {
    @apply whitespace-normal px-3 py-4 text-sm text-gray-500
}

.flop-table tr:hover {
    @apply bg-gray-50
}

.flop-table td[phx-click] {
    @apply cursor-pointer
}

.flop-table tr > td:first-child {
    @apply font-medium text-gray-900
}

.flop-form-filter {
    @apply flex flex-row space-x-3 items-end my-5
}

.flop-form-filter > a{
    @apply rounded-md bg-brand-500 px-3 py-2 mb-1 text-sm font-semibold text-white shadow-sm hover:bg-brand-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-500
}
